.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.productCard {
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
}
  
.productCard:hover {
    transform: scale(1.05);
}
  
.productCard .content {
    margin: 10px;
}
  
.productCard .img-fluid {
    height: 200px;
    object-fit: contain;
}
  
.productCard .productPrice {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
  
.productCard button {
    background-color: #4c7faf;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
}

.productCard button:hover {
    background-color: #b1b1b1;
    color: #01189e;
    font-size: 20px;
}