#navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #5064d3;
    color: white;
    margin-right: 18px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

#navbarLinksContainer {
    display: flex;
}

#homeLink, #profileLink, #cartLink, #logoutLink {
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
}

#homeLink:hover, #profileLink:hover, #cartLink:hover, #logoutLink:hover {
    color: #cf2727;
    font-size: 23px;
}