#registerForm {
    display: flex;
    margin: auto;
    margin-top: 2%;
    flex-direction: column;
    width: 25%;
    box-shadow: 0 0 10px #000000, 0 0 15px #c1c2c1, 0 0 20px #919191, 0 0 25px #b6b6b6;
    background-color: #f5f5f5af;
    margin-bottom: 10px;
    gap: 10px;
    padding: 15px;
}

#registerFormContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#registerForm h1 {
    text-align: center;
}
  
#registerForm input {
    width: 85%;
    height: 30px;
    font-size: 18px;
    margin-left: 5%;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 4px;
    padding: 8px;
}

#registerForm label {
    margin-left: 5%;
    font-size: 19px;
}

.registerFormSubmit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#registerForm button {
    width: 40%;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s ease;
    padding: 10px 0px;
    border-radius: 4px;
    border: 2px solid rgb(136, 136, 136);
    cursor: pointer;
}
  
#registerButton {
    background-color: #409E58;
}

#registerButton:hover {
    background-color: #01b130;
}

#linkButtonToLogin {
    background-color: #006699;
}

#linkButtonToLogin:hover {
    background-color: #0987c7;
}