body {
    height: 90vh;
}

.login {
    display: flex;
    margin: auto;
    margin-top: 2vh;
    flex-direction: column;
    width: 20vw;
    height: 450px;
    box-shadow: 0 0 10px #000000, 0 0 15px #c1c2c1, 0 0 20px #919191, 0 0 25px #b6b6b6;
    background-color: #f5f5f5af;
    padding-left: 15px;
    padding-right: 15px;
}
  
.credentialsForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.credentialsForm h1 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 50px;
}

.credentialsForm h3 {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
}
  
.credentialsForm label {
    margin-left: 2.2%;
    font-size: 19px;
}
  
.credentialsForm span {
    color: red;
}
  
.credentialsForm input {
    width: 90%;
    height: 40px;
    font-size: 18px;
    align-self: center;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 35px;
}

.passwordContainer {
    position: relative;
}

.passwordContainer input {
    margin-left: 2.2%;
}
  
#passwordToggle {
    position: absolute;
    width: 30px;
    top: 27px;
    right: 8%;
}
  
.credentialsFormSubmit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.credentialsFormSubmit button {
    width: 40%;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s ease;
    padding: 10px 0px;
    border-radius: 4px;
    border: 2px solid rgb(136, 136, 136);
    cursor: pointer;
}
  
#credentialsBtn {
    background-color: #409E58;
}

#credentialsBtn:hover {
    background-color: #01b130;
}

.registerLinkFromLogin {
    background-color: #006699;
}

.registerLinkFromLogin:hover {
    background-color: #0987c7;
}